* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(22, 22, 22);
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
a {
  color: white;
}
#logo {
    margin: 12% 0;
    max-width: 35%;
}
.button {
    border: 2px solid rgb(0, 0, 0, 0.2);
    background-color: rgba(41, 41, 41, 0.4);
    width: 150px;
    height: 50px;
    margin: 2vh auto;
    color: white;
    z-index: 99;
}
.button:hover {
    cursor: pointer;
    color: rgb(0, 174, 255);
    background-color: rgb(85, 85, 85, 0.5);
    border: 2px solid rgb(0, 174, 255);
}
.button:visited {
  color: #000;
}
.bio {
    margin-top: 50%;
    padding: 150px;
}
/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin: 0px 25px;
}
/* Landing Page */

  #myVideo {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw; 
    height: auto;
  }
  #myVideoMobile {
    width: 100vw;
    height: 100vh;
  }
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  .myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    position: fixed;
    margin: 0 auto;
    /* bottom: 0; */
  }
  
  .myBtn:hover {
  background: #ddd;
  color: black;
  }
